# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Dataset folders
data/
datasets/

# Model weights
*.pth
*.pt
*.ckpt

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

checkpoints/